<!DOCTYPE html>
<html>
<head>
  <title>Dice Roller</title>
</head>
<body>
  <h1>Welcome to Dice Roller</h1>
  <p>Select a dice set to roll:</p>
  <ul>
    <li><a href="/dice/2/6">Roll 2 six-sided dice</a></li>
    <li><a href="/dice/2/10">Roll 2 ten-sided dice</a></li>
    <li><a href="/dice/1/20">Roll 1 twenty-sided die</a></li>
    <li><a href="/dice/5/4">Roll 5 four-sided dice</a></li>
    <li><a href="/dice/100/6">Roll 100 six-sided dice</a></li>
  </ul>
</body>
</html>
